<!doctype html>
<html lang="en" style="background-color: rgb(48, 48, 48)">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TAO CHAT</title>

    <style></style>
  </head>
  <body
    style="
      background-color: rgb(48, 48, 48);
      color: white;
      border: 1px solid silver;
      box-shadow: 0px 0.5px gray;
      margin: 5% 1%;
      padding: 0px 20px;
      font-family: sans-serif;
    "
  >
    <header>
      <div class="email-header">
        <!-- EMAIL HEADER WILL BE INSERTED HERE -->
      </div>
    </header>

    <main
      style="
        font-family:
          &quot;Trebuchet MS&quot;, &quot;Lucida Sans Unicode&quot;, &quot;Lucida Grande&quot;,
          &quot;Lucida Sans&quot;, Arial, sans-serif;
      "
    >
      <div class="message_sent">
        <!-- MESSAGE TO BE SENT WILL BE INSERTED HERE -->
      </div>

      <br /><br />
      <p style="font-weight: lighter; letter-spacing: 0.5px; line-height: 1.7">
        Thank you for using TaoChat, and we look forward to your active participation.
      </p>

      <p style="margin-bottom: -14px"><b>Best Regards, </b></p>
      <p style="text-transform: capitalize; font-weight: bold">TaoTech Team</p>
    </main>
    <footer></footer>
  </body>
</html>
